* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile, .logo {
    margin-bottom: 50px;
}

.profile img, .logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 0;
}
